@font-face {
    font-family: 'NotoSansCJKkr-Regular';
    src: url("font/NotoSansCJKkr-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'NotoSansCJKkr-DemiLight';
    src: url("font/NotoSansCJKkr-DemiLight.otf") format("opentype");
}
@font-face {
    font-family: 'arial';
    src: url("font/arial.ttf") format("truetype");
}
@font-face {
    font-family: 'NotoSerifCJKkr-Regular';
    src: url("font/NotoSerifCJKkr-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: NotoSansCJKkr-Regular;
    font-size: 10px;
    color: #292929;
}

body {background-color: #ffffff; overflow-x: hidden;}
ul {list-style: none;}
a {text-decoration: none; display: block;}
#wrap {width: 100%;}

.inner {
    width: 1600px;
    margin: 0 auto;
}

.sub_inner {
    width: 1200px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/*                 상단 고정 메뉴                  */
#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #cccccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#header:after {
    content: "";
    display: inline-block;
    clear: both;
}

#header:hover {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#header:hover .menu > ul > li > a {
    color: #142130
}

#header:hover .menu > ul > li > a:hover {
    color: #8aa330;
}

.logo {
    float: left;
    width: 203px;
    height: 37px;
    margin-left: 4%;
    /* 80px */
    margin-top: 21px;
    /*1.25 %*/
    position: relative;
    z-index: 2;
}

.menu {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.menu > ul {
    color: #ffffff;
    text-align: center;
}

.menu > ul > li {
    display: inline-block;
    padding: 0 30px;
}

.menu > ul > li > a {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
    line-height: 80px;
}

.btns {
    float: right;
    width: 260px;
    height: 80px;
    text-align: center;
}

.btns:after {
    content: "";
    display: inline-block;
    clear: both;
}

.btn_log > a {
    float: left;
    width: 29%;
    height: 80px;
    border-left: 1px solid #cccccc;
}

.btn_log > a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.btn_log > a > img {
    margin-top: 23.5px;
}

.btn_log > a > img:hover {
    transform: rotateY(180deg);
    transition: all 0.4s;
}

.btn_log{
    position: relative;
    z-index: 2;
}

.btn_do{
    position: relative;
    z-index: 2;
}

.btn_do > a {
    float: right;
    width: 70%;
    height: 80px;
    line-height: 80px;
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #142130;
    border-left: 1px solid #cccccc;
}

.btn_do > a:hover {
    background-color: #405369;
}

/*                 서브 메뉴:마우스오버                  */
.submenu {
    display: none;
    position: absolute;
    width: 100%;
    height: 53px;
    top: 80px;
    left: 0;
    background-color: #142130;
}

.sub_ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sub_ul > li {
    display: inline-block;
    padding: 0 20px;
}

.sub_ul > li > a {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 53px;
    font-weight: 100;
}

.sub_ul > li:hover > a {
    color: #bac597;
}


/*                 모바일 메뉴                  */
.icon_menu {
    display: none;
}

.left_gnbWrap {
    display: none;
}


/*                 서브 메인이미지                  */
#sub_mainimg {
    width: 100%;
    height: 520px;
    position: relative;
    background-image: url(../img/sub_mainimg03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sub_title {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    color: #ffffff;
    text-align: center;
}

.sub_title > h1 {
    font-size: 6rem;
    font-family: "NotoSerifCJKkr-Regular";
    font-weight: bold;
    color: #ffffff;
}

.sub_title > p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
}


/* 콘텐츠 */
/*                 서브 타이틀                  */
.sub_intro {
    width: 100%;
    height: auto;
/*    height: 1710px;*/
/*    margin-bottom: 130px;*/
}

.line_deco {
    display: block;
    width: 1px;
    height: 40px;
    background-color: #292929;
    margin: 0 auto;
    margin-top: 55px;
    text-align: center;
}

.sub_intro > h2 {
    font-size: 4rem;
    font-family: "NotoSerifCJKkr-Regular";
    margin-top: 30px;
    text-align: center;
}

.sub_intro > p {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 20px;
}

.sub_intro > .sub_inner {
    margin-top: 60px;
}

.sub_inner > .pc_img{
    width: 100%;
}

.mo_img{
    display: none;
}

.number {
    width: 230px;
    height: 31px;
    margin: 0 auto;
    margin-top: 70px;
}

.number:after {
    content: "";
    display: inline-block;
    clear: both;
}

.notice_prev,
.number > ul,
.notice_next {
    float: left
}

.number > ul:after {
    content: "";
    display: inline-block;
    clear: both;
}

.number > ul {
    width: 167px;
    height: 31px;
}

.number > ul > li {
    float: left;
    width: 20%;
    text-align: center;
    line-height: 31px;
    font-size: 1.5rem;
}



/* 처음으로 가기 버튼 */
/*
.go_top{
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0;
    bottom: 0;
    background-color: #3c3c3c;
}

.go_top>a{
    width: 22px;
    margin: 0 auto;
}

.go_top>a>img{
    margin-top: 24px;    
}
*/


/*                 하단                  */
#footer {
    margin-top: 100px;
    width: 100%;
}

/*                 TOP footer                 */
.top_footer {
    width: 100%;
    height: 87px;
    background-color: #dadece;
    line-height: 87px;
}

.top_footer > .inner:after {
    content: "";
    display: inline-block;
    clear: both;
}

.top_footer > .inner > ul {
    float: left;
}

.top_footer > .inner > ul:after {
    content: "";
    display: inline-block;
    clear: both;
}

.top_footer > .inner > ul > li {
    display: inline-block;
    float: left;
    height: 87px;
    margin-right: 15px;
    font-size: 1.9rem;
    font-family: arial;
    font-weight: bold;
}

.top_footer > .inner > ul > li:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #292929;
    margin-right: 10px;
}

.top_footer > .inner > ul > li:first-child:before {
    display: none;
}

.top_footer > .inner > ul > li:last-child > a {
    display: inline-block;
    font-size: 1.7rem;
    font-family: NotoSansCJKkr-Regular;
    font-weight: 100;
}

.top_footer > .inner > ul > li:last-child > a > span {
    padding-left: 50px;
    font-size: 1.5rem;
    font-weight: 100;
}

.top_footer > .inner > .go_btn {
    float: right;
    transform: scale(1);
    transition: all 0.5s;
}

.top_footer > .inner > .go_btn:hover {
    transform: scale(1.1);
}


/*                 bottom footer                 */
.bottom_footer {
    width: 100%;
    height: 145px;
    background-color: #a0ae75;
}

.bottom_footer > .inner:after {
    content: "";
    display: inline-block;
    clear: both;
}

.info {
    float: left;
    width: 85%;
    margin-top: 40px;
}

.info:after {
    content: "";
    display: inline-block;
    clear: both;
}

.f_menu {
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 20px;
}

.f_menu > li {
    float: left;
    margin-right: 12px;
}

.f_menu > li > a {
    font-size: 1.6rem;
    color: #ffffff;
}

.f_menu > li > a:nth-child(5) {
    font-weight: bold;
}

.f_menu > li > a:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #ffffff;
    margin-right: 12px;
}

.f_menu > li:first-child > a:before {
    display: none;
}

.f_menu > li > a:hover {
    color: #676767;
}

.address:after {
    content: "";
    display: inline-block;
    clear: both;
}

.address > li {
    float: left;
    margin-right: 40px;
    font-size: 1.6rem;
    color: #ffffff;
}

.address > li:nth-child(2) {
    font-family: NotoSansCJKkr-DemiLight
}

.site {
    float: right;
    width: 15%;
}

.family {
    width: 100%;
    height: 40px;
    margin-top: 25px;
}

.family > select {
    width: 100%;
    height: 38px;
    border: 2px solid #ffffff;
    background-color: #a0ae75;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: arial;
}

.family > select > option {
    color: #ffffff;
    font-size: 1.5rem;
}

.sns {
    width: 80%;
    margin-top: 15px;
    margin-left: 20%;
}

.sns:after {
    content: "";
    display: inline-block;
    clear: both;
}

.sns > li {
    float: left;
    width: 33.3%;
}


/*                 미디어쿼리                 */
@media (max-width:1599px) {
    .inner {
        width: 95%;
    }
}


@media (max-width:1199px) {
    #header {
        height: 60px;
    }
    
    .sub_inner {
        width: 95%;
    }

    .logo {
        width: 150px;
        margin-left: 2%;
        margin-top: 15px;
    }

    .logo > a > img {
        width: 100%;
    }

    .menu {
        height: 60px;
    }

    .submenu {
        top: 60px;
    }

    .menu > ul {
        line-height: 60px;
    }

    .menu > ul > li {
        padding: 0 14px;
    }

    .menu > ul > li > a {
        font-size: 1.5rem;
        line-height: 60px;
    }

    .btns {
        width: 160px;
        height: 60px;
    }

    .btn_log > a {
        width: 34%;
        height: 60px;
    }

    .btn_log > a > img {
        margin-top: 13.5px;
    }

    .btn_do > a {
        width: 64%;
        height: 60px;
        line-height: 60px;
        font-size: 1.7rem;
    }

    /* 하단 */
    .info {
        width: 80%;
        margin-top: 30px;
    }

    .f_menu {
        margin-bottom: 10px;
    }

    .site {
        width: 20%;
    }
}



@media (max-width:768px) {
    .menu,
    .btns {
        display: none;
    }

    /*                모바일 메뉴 버튼                 */
    .icon_menu {
        display: block;
        width: 60px;
        height: 60px;
        background-image: url(../img/mo_menu.png);
        background-repeat: no-repeat;
        background-position: center center;
        float: right;
        margin-right: 0;
        margin-top: 0;
        cursor: pointer;
    }

    #header:hover .icon_menu {
        background-image: url(../img/mo_menu02.png);
    }

    /* 이미지 슬라이드 파일에서 복사해온 부분 */
    a.close {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        color: #ffffff;
        font-size: 1.5rem;
        line-height: 60px;
        text-align: center;
    }

    .left_gnbWrap {
        display: block;
        height: 100%;
        width: 300px;
        position: fixed;
        right: -300px;
        top: 0;
        background-color: #142130;
        opacity: 0.9;
        padding-top: 60px;
        z-index: 999;
        transition: all 0.3s;
    }

    .left_gnbWrap.on {
        right: 0;
    }

    .left_gnb > li {
        width: 100%;
    }

    .left_gnb > li > a {
        display: block;
        text-align: center;
        line-height: 70px;
        width: 100%;
        height: 70px;
        background-color: #cfdaad;
        color: #2f2f2f;
        font-size: 2rem;
    }

    .left_gnb > li:hover a {
        color: black;
    }

    .left_gnb > li > a.on {
        background-color: #8aa330;
        color: #ffffff;
        font-weight: bold;
    }

    .left_gnb > li > ul {
        display: none;
    }

    .left_gnb > li > ul > li > a {
        display: block;
        text-align: center;
        line-height: 50px;
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        color: black;
        font-size: 1.5rem;
    }

    .left_gnb > li > ul > li > a:hover {
        font-weight: bold;
    }
    
    .sub_title > h1{
        font-size: 4rem;
    }
    
    .line_deco{
        display: none;
    }
    
    .sub_intro > h2{
        font-size: 3rem;
        margin-top: 100px;
    }
    
    .sub_inner > .pc_img{
        display: none;
    }
    
    .mo_img{
        display: block;
        width: 100%;
    }

    /* 하단 */
    .top_footer > .inner > ul > li:last-child > a > span {
        display: none;
    }

    .top_footer > .inner > ul > li:last-child {
        margin-right: 0;
    }

    .bottom_footer {
        height: 250px;
    }

    .info {
        width: 100%;
    }

    .f_menu {
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    .f_menu > li {
        width: 33.3%;
        margin-right: 0;
        text-align: center;
    }

    .f_menu > li > a:before {
        display: none;
    }

    .address {
        width: 100%;
    }

    .address > li {
        margin-top: 10px;
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .site {
        width: 100%;
    }

    .family {
        width: 60%;
        float: none;
        margin: 0 auto;
        margin-top: 20px;
    }

    .sns {
        display: none;
    }
}


@media (max-width:550px) {
    .top_footer > .inner > ul > li:last-child > a > span {
        display: none;
    }
}


@media (max-width:500px) {    
    .sub_intro > p{
        letter-spacing: -1px;
    }
    
    .inner,
    .sub_inner {
        width: 90%;
    }
    
    .top_footer > .inner > ul > li:last-child {
        display: none;
    }

    .f_menu {
        display: none;
    }

    .address > li:nth-child(2) {
        font-size: 1.4rem;
    }
}